<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.smhrd.database.MemberMapper">

  <!-- 회원 가입을 위한 sql문장 작성하기 -->
  <!-- mybatis의 변수 : 바인드 변수 -> #{변수명} -->
  
  <insert id = "join" parameterType = "com.smhrd.model.userVO">
  	insert into tb_member values(#{mb_id}, #{mb_pw}, #{mb_name}, #{mb_nick}, sysdate, 'M')
  </insert>
  
  
  <!-- 결과 타입! resultType : 결과에 대하여 어떤 타입으로 저장을 할것인지 지정! 
  		id = "smhrd@smhrd.or.kr" pw = "123" -> 회원의 이름만 select
  -->
 
 <!-- #{} : parameter로 받아온 객체의 getter메소드 사용하겠다! -->
  <select id="login" parameterType="com.smhrd.model.userVO"
  	      resultType="com.smhrd.model.userVO"
  >
  	select mb_id, mb_pw, mb_name, mb_nick from tb_member
  	where mb_id = #{mb_id}
  	and mb_pw = #{mb_pw}
  </select>
  
  
  <!-- 회원정보 수정을 위한 sql문장 작성 -->
  <!-- 여러명의 회원중 어떤 회원에 대하여 정보를 수정할 것인가?  -->
  <update id="update" parameterType="com.smhrd.model.userVO">
  	update tb_member set mb_pw=#{mb_pw}, mb_name=#{mb_name}, mb_nick=#{mb_nick} 
  	where mb_id=#{mb_id} 
  </update>

  <select id="search1" parameterType="com.smhrd.model.followVO"
  	      resultType="com.smhrd.model.followVO"
  >
  	select * from tb_follow	where follower = #{follower}
  </select>

  <select id="search2" parameterType="com.smhrd.model.reviewVO"
  	      resultType="com.smhrd.model.reviewVO"
  >
  	select * from tb_review	where mb_id = #{mb_id}
  </select>



  <!-- 로그인한(세션에 아이디 저장되어있는) 유저의 팔로우 유저를 검색
  		팔로우하고 있는 유저들의 리뷰를 가져오는 쿼리문 -->
  <select id="search3" parameterType="com.smhrd.model.followVO"
  	      resultType="com.smhrd.model.reviewVO"
  >
  	select * from tb_review	
  	where mb_id in ( select followee
  					   from tb_follow
  					  where follower = #{follower})
  </select>

  <insert id = "reply" parameterType = "com.smhrd.model.replyVO">
  	insert into tb_reply(
  		rv_seq,
  		rp_content,
  		mb_id
  	) values (
  		#{rv_seq},		<!-- 여기는 수정이 필요 -->
  		#{rp_content},
  		#{mb_id}
  	)
  </insert>


  <!-- 해당 게시글에 작성되어 있는 댓글들의 데이터를 가져오는 쿼리문 -->
  <select id="search4" parameterType="com.smhrd.model.replyVO"
  	      resultType="com.smhrd.model.replyVO"
  >
  	select * from tb_reply
  	where rv_seq = #{rv_seq}
  </select>




  
  <!-- 모든 회원의 정보를 조회할 수 있는 쿼리문 작성 -->
  <!-- select구문은 반드시 resultType 잡아주기!!!!!!!!!!!!  -->
  <select id="selectAll" resultType="userVO">
  	select * from tb_member
  	where email != 'admin'
  </select>
  
  
  <!-- 이메일 체크기능 -->
  <!-- String은 기본 자료형이 아니기때문에, 반드시 parameterType과
  	   resultType을 명시해줘야 한다!
   -->
  <select id="emailCheck" parameterType="java.lang.String" 
  		  resultType="java.lang.String">
  	select email from web_member where email = #{receive_email}
  
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>