@charset "UTF-8";

a { text-decoration:none; }

.left {
    /* border: 10px solid red; */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 990;

    
}
.logo{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
    margin-left:50px;
}
.iconBtn{
    margin-top: 130px;
    height: 520px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 1px solid green; */
    margin-left: 100px;
    /* align-items: center*/
    list-style-type: none; 
}

.iconBtn li{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

#getUserPic {
	width: 35px;
	height: 35px;
	margin-left: -2px;
	border-radius: 50%;
}

.plusBtn{
    height: 150px;
    display: flex;
    margin-left: 90px;
}
.plusBtn img{
    width: 40px;
    height: 40px;
}
.right {
    /* border: 10px solid red; */
    box-sizing: border-box;
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;


}

.center {
    width: 60%;
    box-sizing: border-box;
    margin: 0 auto;
}
.iconBtn li img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



.box {
    height: 100px;
}
#logoText{
    background: linear-gradient(to right,#f4f269,#5cb270);
    color: transparent;
    -webkit-background-clip: text;
}
.search{
    width: 60%;
    height: 200px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;  
    z-index:9999; 
}
#searchBar{
    width: 700px;
    height: 30px;
    border: 1px solid gainsboro;
    background-color: ghostwhite;
    border-radius: 10px;
}
#searchBtn{
    height: 30px;
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    border-radius: 3px;
    margin-left: 10px;
}
.container{
    margin-top: 200px;
    box-sizing: border-box;
}
.post{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    border: 1px solid gainsboro;
   
}
.postTop{
    border-bottom: 1px solid gainsboro;
    height: 80px;
    display: flex;
    
}
#postCenter{
    background-color: white;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
}
#postBottom{
    border-top: 1px solid gainsboro;
    height: 120px;
}
.pBlist{
   list-style-type: none; 
   padding-left:5px;
   margin-top:0px;
   
}
.two p, .four p{
   margin:0px;
   margin:0px;
}
.postTop img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 10px;
    object-fit: cover;

}
.name li{
    list-style-type: none; 
}
.name{
   padding-left:0px;
}

.mainname {
	padding-left:0px;
	margin-top: 20px;
}
#postCenter img{
    width: 700px;
    height: 400px;
    object-fit: cover;
}
.postBox{
    box-sizing: border-box;
    margin-bottom: 40px;
}
.one img{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

#userImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.user{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 60px;
}
.userId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.rec p{
   margin:0px;
}
.rec{
    display: flex;
    flex-direction: row;
    margin-top: 10px;    
}
.recList{
   padding:0px;
}
.rec_img{
    width:42px;
    height: 42px;
    margin-right:10px ;
    border-radius: 50%;
}


.one {
	display: flex;
}