@charset "UTF-8";

/*popup*/
.popup_layer_post {
    position:fixed;
    top:0;
    left:0;
    z-index: 10000;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 

}

/*팝업 박스*/
.popup_box_post{
    position: relative;
    top:50%;
    left:50%; 
    overflow: hidden; 
    height: 600px; 
    width: 1000px;
    margin-top: -100px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
}


.closePost {
    display: flex;
    margin-top: 75px;
}

.closePost>a {
    display: flex;
    margin-left: 1550px;
}


/*오버레이 뒷배경*/
.popup_overlayPost{
    position:fixed;
    top:0px;
    right:0;
    left:0;
    bottom:0;
    z-index:1001;
    background:rgba(0,0,0,0.5);
}
/*popup*/

/* 좋아요 하트 */
  
 .likeIcon.heart.fas{
    color:red
  }
  
  .heart.active img{
      animation: animateHeart .3s linear forwards;
    position: relative;
    z-index: -100;
  }
  
  @keyframes animateHeart{
      0%{transform:scale(.2);}
      40%{transform:scale(1.2);}
      100%{transform:scale(1);}
    } 
    
    
 /* 보관함 */  
 .saveIcon.save.fas{
    color:black
  }
  
  .save.active img{
      animation: animateSave .3s linear forwards;
    position: relative;
    z-index: -100;
  }
  
  @keyframes animateSave{
      0%{transform:scale(.2);}
      40%{transform:scale(1.2);}
      100%{transform:scale(1);}
    } 