@charset "UTF-8";

.upload {
    position: absolute;
    margin: -500px 0px 0px -300px;
    margin-top: -11px;
    margin-left: -2px;
    display: flex;
    width: 100px;
    height: 600px;
}

.pic {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 1000px;
    height: 65px;
    border-top-right-radius: 10px;
    border: 1px solid gainsboro;
}

.comment {
    width: 500px;
    height: 531px;
    border: 1px solid gainsboro;
    flex-direction: column;
}

.textArea {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
    height: 555px;
    margin-left: 500px;
    margin-top: -403px;
    flex-direction: column;
}

.textAreaPic{
    height: 70px;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    flex-direction: row;
}

.newTextProfilePic{
    width: 50px;
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;

}

.newTextProfileId{
    width: 1000px;
    height: 30px;
    margin-top: 37px;
}

.textAreaMain{
    max-width: 500px;
    min-width: 500px;
    height: 300px;

}

.textAreaMainPost{
    width: 500px;
    height: 280px;
    margin-top: 25px;
    margin-left: 20px;
}

.textAreaStar{
    max-width: 500px;
    min-width: 500px;
    height: 45px;
    border: 1px solid gainsboro;
    margin-top: -22px;

}
.textAreaRoc{
    max-width: 500px;
    min-width: 500px;
    height: 53px;
    border: 1px solid gainsboro;

}
.textAreaH{
    max-width: 500px;
    min-width: 500px;
    height: 55px;
    border: 1px solid gainsboro;

}


.name {
    margin-top: 20px;
    font-size: larger;
    text-align: center;
}

.pic p {
    font-size: 20px;
    margin-top: 40px;
}

.pick {
    justify-content: center;
    text-align: center;
}


.overlay {
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background-color: rgba(0,0,0, 0.4);
    overflow-x: hidden;
  }
  
  .pick label {
  display: inline-block;
  padding: .5em .75em;
  color: white;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background: linear-gradient(to right, #f4f269,#5cb270);
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 10px;
  width: 200px;
}

.pick input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
@charset "UTF-8";

.upload {
    position: absolute;
    margin: -500px 0px 0px -300px;
    margin-top: -11px;
    margin-left: -2px;
    display: flex;
    width: 100px;
    height: 600px;
}

.pic {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 1000px;
    height: 65px;
    border-top-right-radius: 10px;
    border: 1px solid gainsboro;
}

.comment {
    width: 500px;
    height: 531px;
    border: 1px solid gainsboro;
    flex-direction: column;
}

.textArea {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
    height: 555px;
    margin-left: 500px;
    margin-top: -403px;
    flex-direction: column;
}

.textAreaPic{
    height: 70px;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    flex-direction: row;
}

.newTextProfilePic{
    width: 50px;
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;

}

.newTextProfileId{
    width: 1000px;
    height: 30px;
    margin-top: 37px;
}

.textAreaMain{
    max-width: 500px;
    min-width: 500px;
    height: 300px;

}

.textAreaMainPost{
    width: 500px;
    height: 280px;
    margin-top: 25px;
    margin-left: 20px;
}

.textAreaStar{
    max-width: 500px;
    min-width: 500px;
    height: 45px;
    border: 1px solid gainsboro;
    margin-top: -22px;

}
.textAreaRoc{
    max-width: 500px;
    min-width: 500px;
    height: 53px;
    border: 1px solid gainsboro;

}
.textAreaH{
    max-width: 500px;
    min-width: 500px;
    height: 55px;
    border: 1px solid gainsboro;

}


.name {
    margin-top: 20px;
    font-size: larger;
    text-align: center;
}

.pic p {
    font-size: 20px;
    margin-top: 40px;
}

.pick {
    justify-content: center;
    text-align: center;
}


.overlay {
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background-color: rgba(0,0,0, 0.4);
    overflow-x: hidden;
  }
  
  .pick label {
  display: inline-block;
  padding: .5em .75em;
  color: white;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background: linear-gradient(to right, #f4f269,#5cb270);
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 10px;
  width: 200px;
}

.pick input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
