@charset "UTF-8";

.uploadPost {
    position: absolute;
    margin: -500px 0px 0px -300px;
    margin-top: -11px;
    margin-left: -2px;
    display: flex;
    width: 100px;
    height: 600px;
}

.mainNewPost {
	width: 1000px;
    height: 600px;
    display: flex;
    display: inline;
    flex-direction: row;
}

.picPost {
	max-width: 400px;
	max-height: 500px;
    width: 500px;
    height: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 65px;
}

.profilePost {
    width: 1000px;
    height: 65px;
    border-top-right-radius: 10px;
    border: 1px solid gainsboro;
}

.commentPost {
    width: 500px;
    height: 531px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
}

.textArea {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
    height: 555px;
    float: left;
    margin-left: 62px;
    margin-top: -2px;
}

.textAreaPic{
    height: 70px;
    margin-top: 1.6px;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    flex-direction: row;
}

.newTextProfilePic{
    width: 50px;
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;

}

#album {
	max-width: 400px;
	max-height: 500px;
	position: absolute;
}

.newTextProfileId{
    width: 500px;
    height: 30px;
    margin-top: 37px;
}

.textAreaMain{
    max-width: 500px;
    min-width: 500px;
    height: 300px;

}

.textAreaMainPost{
    width: 500px;
    height: 280px;
    margin-top: 25px;
    margin-left: 20px;
}

textarea {
	width: 460px;
	height: 260px;
	border: none;
	resize: none;
}

.textAreaStar{
    max-width: 500px;
    min-width: 500px;
    height: 45px;
    border: 1px solid gainsboro;
    margin-top: -22px;

}
.textAreaRoc{
    max-width: 500px;
    min-width: 500px;
    height: 53px;
    border: 1px solid gainsboro;

}
.textAreaH{
    max-width: 500px;
    min-width: 500px;
    height: 55px;
    border: 1px solid gainsboro;
}

.textArea input {
	max-width: 490px;
    min-width: 490px;
	border: none;
}

.textAreaStar input {
    height: 20px;
    padding-bottom: 22px;
}

.textAreaRoc input {
    height: 20px;
    padding-bottom: 31px;
}

.textAreaH input {
    height: 20px;
    padding-bottom: 31px;
}

.username {
    width: 360px;
    height: 50px;
    float: left;
    margin-top: 15px;
    margin-left: 435px;
}

.namePost {
	width: 1000px;
	height: 20px;
    margin-top: 10px;
    font-size: larger;
    display: flex;
    flex-direction: row;
    float: left;
}

.submitBtn {
	margin-left: 310px;
	margin-top: -4px;
	background: linear-gradient(to right, #f4f269,#5cb270);
	border: none;
	color: #fbfbfb;
	width: 75px;
    height: 25px;
    border-radius: 10px;
}

.picPost p {
    font-size: 20px;
    margin-top: 40px;
    margin-top: 215px;
    width: 373px;
}

.pick {
	margin-top: 30px;
    justify-content: center;
    text-align: center;
}


.overlayPost {
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background-color: rgba(0,0,0, 0.4);
    overflow-x: hidden;
  }
  
  .pick label {
  display: inline-block;
  padding: .5em .75em;
  color: white;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background: linear-gradient(to right, #f4f269,#5cb270);
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 10px;
  width: 200px;
}

.pick input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}


.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.8rem;
  line-height: 2rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  margin-left: 10px;
  margin-top: 2px;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

