@charset "UTF-8";
body{
    min-width: 1500px;
}
.left {
    /* border: 10px solid red; */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 990; 
    min-width: 280px;
}

.logo{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
    margin-left:50px;
   
}
.iconBtn{
    margin-top: 130px;
    height: 520px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    margin-left: 100px;
    list-style-type: none; 
}

.iconBtn il {
	margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

#getUserPic {
	width: 35px;
	height: 35px;
	margin-left: -2px;
	border-radius: 50%;
}


a { text-decoration:none; }

.iconBtn li{
    display: list-item;
    justify-items: baseline;
    margin-bottom: 40px;
}

.iconText {
    color: black;
}

.plusBtn{
    height: 150px;
    display: flex;
    margin-left: 90px;
}
.plusBtn img{
    width: 40px;
    height: 40px;
}

.iconBtn li img{
    width: 30px;
    height: 30px;
}
.box {
    height: 100px;
}
#logoText{
    background: linear-gradient(to right,#f4f269,#5cb270);
    color: transparent;
    -webkit-background-clip: text;
}
.center {
    width: 60%;
    /* border: 10px solid blue; */
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 900px;
}
.search{
    width: 60%;
    height: 200px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 10px solid purple; */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    min-width: 900px;
    
}
#searchBar{
    width: 700px;
    height: 30px;
    border: 1px solid gainsboro;
    background-color: ghostwhite;
    border-radius: 10px;
}
#searchBtn{
    height: 30px;
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    border-radius: 3px;
    margin-left: 10px;
}
.container{
    width: 900px;
    margin-top: 200px;
    box-sizing: border-box;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 280px 280px 280px;
    column-gap: 15px;
    row-gap: 15px;
}
.container_img{
    width: 280px;
    height: 280px;
    object-fit: cover;   
}
.right {
    /* border: 10px solid red; */
    box-sizing: border-box;
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 990;
    min-width: 300px;
}
.name li{
    list-style-type: none; 
}
.user{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 60px;
}
#userImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.userId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.rec{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
}
.recList{
	padding:0px;
}
.rec p{
	margin:0px;
}
.rec_img{
    width: 42px;
    height: 42px;
    margin-right:10px ;
}
.user, .recBox{
    min-width: 300px;
}
.container1{
    min-width: 1500px;
}