@charset "UTF-8";
    /* 오버레이 전체 박스 */
    .overlaybox {position:relative;width:250px;height:280px;background-color:gray;padding:8px;border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);}
        .overlaybox div, ul {overflow:hidden;margin:0;padding:0;}
        .overlaybox li {list-style: none;}
        /* 오버레이 가게 이름 */
        .overlaybox .boxtitle {color:#fff; font-size:16px;font-weight:bold;margin-bottom:8px;}
        /* 오버레이 이미지 */
        .overlaybox .first {position:relative;width:247px;height:136px;margin-bottom:8px;margin-top:8px;border-radius: 5px;}
        /* 오버레이  오픈시간 마감시간 위치 전화번호 4개 칸 담는 박스*/
        .overlaybox ul {width:247px;}
        /* 오버레이 서브타이틀 */
        .overlaybox li {position:relative;margin-bottom:2px;background:green;padding:5px 10px;color:#aaabaf;line-height: 1;border-radius: 3px;}
        /* 오버레이 안의  spen들( .number, .title)*/
        .overlaybox li span {display:inline-block;}
        /* 오버레이 오픈 시간 ,마감시간,위치, 전화번호의 글자*/
        .overlaybox li .number {color:#fff; font-size:16px;font-weight:bold;}
        /* 오버레이 아래쪽 오픈시간,마감시간 옆 들어가는 데이터*/
        .overlaybox li .title {font-size:15px;margin-left: 10px;}
        /* 오버레이 X자 닫기  */
        .close {
            background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
            float: right;
           
           width:17px;
           height:17px;
    
           }
        .close:hover {cursor: pointer;}