@charset "UTF-8";

.left {
    /* border: 10px solid red; */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 990;

    
}
.logo{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
}
.iconBtn{
    margin-top: 50px;
    height: 619px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 1px solid green; */
    margin-left: 100px;
    /* align-items: center*/
    list-style-type: none; 
}

.iconBtn li{
    display: list-item;
    justify-items: baseline;
    margin-bottom: 40px;
}

.plusBtn{
    height: 150px;
    display: flex;
    margin-left: 90px;
}
.plusBtn img{
    width: 40px;
    height: 40px;
}


.gnb {
    /* border: 10px solid yellow; */
}
.center {
    width: 80%;
    /* border: 10px solid blue; */
    box-sizing: border-box;
    margin: 0 auto;
}
.iconBtn li img{
    width: 30px;
    height: 30px;
}
.box {
    height: 100px;
}
#logoText{
    background: linear-gradient(to right,#f4f269,#5cb270);
    color: transparent;
    -webkit-background-clip: text;
}
.search{
    width: 60%;
    height: 200px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 10px solid purple; */
    box-sizing: border-box;
    position: fixed;
    top: 0;

   
}
#searchBar{
    width: 700px;
    height: 30px;
    border: 1px solid gainsboro;
    background-color: ghostwhite;
    border-radius: 10px;
}
#searchBtn{
    height: 30px;
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    border-radius: 3px;
    margin-left: 10px;
}
.container{
    margin-top: 200px;
    /* border: 10px solid yellow; */
    box-sizing: border-box;
  
    
}
